.order-history {
    padding: 40px;
    min-height: 75vh;
  }
  
  .order-history__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  .order-history__list {
    background-color: #fff;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    padding: 16px;
    width: 80%;
    border-radius: 10px;
  }
  
  .order-history__empty {
    color: #999;
  }
  
  .order-history__item {
    border-bottom: 1px solid #ccc;
    padding: 16px 0;
  }
  
  .order-history__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .order-history__item-info {
    display: flex;
    flex-direction: column;
  }
  
  .order-history__item-id {
    font-weight: bold;
  }
  
  .order-history__item-status {
    color: #999;
  }
  
  .order-history__item-qty {
    font-size: 14px;
    color: #777;
  }
  