.user-page-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cover-image{
    width: 100%;
    aspect-ratio: 5;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -100px;
    border: 5px solid #2c9fe6;
    object-fit: cover;
    overflow: hidden;
}